<h2>Edit your customer details.</h2>
<form action="/customers/<%=@customer.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    
<p><label for="company" id="company">Company_name:</label>
      <input type="text" name="company" value="<%=@customer.company%>"></p>    

<p><label for="contact_name" id="contact_name">Contacts_Name</label>
      <input type="text" name="contact_name" value="<%=@customer.contact_name%>"></p>    

<p><label for="email" id="email">Email</label>
      <input type="text" name="email" value="<%=@customer.email%>" ></p>    

<p><label for="phone" id="phone">Phone</label>
      <input type="text" name="phone" value="<%=@customer.phone%>" ></p>    

<p><label for="web_specs">Customer Specs Discription</label>
<textarea id="web_specs" name="web_specs" rows="4" cols="50"><%=@customer.web_specs%></textarea></p>
      
    <input type="submit" value="Update">    
</form>

<h2>To remove this customer click DELETE.</h2>
<form action="/customers/<%=@customer.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
<h3>This action cannot be undone!</h3>
<a href="/my_customers">Never mind</a>